:root{
    --color-white: #FFFFFF;
    --color-white-medium: #F2F2F5;
    --color-white-gray: #E3E3EB;

    --color-blue-deep: #3A3A50;
    --color-blue-medium: #4A4A5E;
    --color-gray-blue: #65657A;

    --color-blue: #90D0F0;
    --color-blue-soft: #A8D8F0;

    --color-purple: #6B46C1;
    --color-purple-soft: #BFABE5;

    --color-pink: #DF54D4;

    --color-green-light: #C8E6D0;

    --font-family: 'Poppins', sans-serif;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

html,
body{
    height: 100%;
}

.pg-inicial{
    background-color: var(--color-white-medium);
    padding: 2.5rem 9.5rem 2.5rem 9.5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.homepg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg-inicial h1{
    color: var(--color-blue-deep);
    font-size: 3rem;
    font-weight: 500;
}

.pg-inicial p{
    color: var(--color-blue-medium);
    font-size: 1.25rem;
    max-width: 48rem;
    text-align: center;
}

nav{
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 56rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.cargo, input{
    background-color: var(--color-white-medium);
}

.cargo i{
    color: var(--color-blue);
    font-size: 1rem;
}

.local, input{
    background-color: var(--color-white-medium);
}

.local i{
    color: var(--color-green-light);
    font-size: 1rem;
}

.cargo, .local{
    color: var(--color-blue-medium);
    border-radius: 0.5rem;
    width: 17rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav button{
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 0.5rem;
    padding: 0.75rem 4rem 0.75rem 4rem;
}

.but-tec, .but-adm, .but-rem, .but-dsg{
    background-color: var(--color-blue-soft);
    color: var(--color-blue-medium);
    font-size: 0.875rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1.5rem;
}

.tagbut{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.dstq-vagas{
    background-color: var(--color-white-gray);
    padding: 4rem 9.5rem 4rem 9.5rem;
}

.dstq-vagas h2{
    color: var(--color-blue-deep);
    font-weight: 500;
    font-size: 2rem;
}

.dstq-vagas p{
    color: var(--color-blue-medium);
    font-size: 1.125rem;
}

.dstq-vagas article{
    padding: 1.5rem;
    max-width: 52rem;
    max-height: 42rem;
    border-radius: 1rem;
    border: solid var(--color-purple-soft) 1px;
    background-color: var(--color-white-medium);
}

.dstq-vagas article h3{
    color: var(--color-blue-deep);
    font-size: 1.25rem;
    font-weight: 500;
}

.title-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.local-periodo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dstq-vagas article p{
    color: var(--color-gray-blue);
    font-size: 0.875rem;
}

.dstq-vagas article .savebtn{
    color: var(--color-pink);
}

.dstq-vagas article ul li{
    background-color: var(--color-green-light);
    color: var(--color-blue-medium);
    font-size: 0.75rem;
    padding: 0.25rem 0.875rem 0.25rem 0.875rem;
    border-radius: 1.5rem;
}

.dstq-vagas article ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.details-btn{
    background-color: var(--color-blue-soft);
    color: var(--color-white);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.625rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-vagas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.mais-vagas{
    color: var(--color-blue-deep);
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    border: solid var(--color-blue) 2px;
    border-radius: 0.625rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
}